[bumpversion]
commit = True
tag = True
current_version = 0.7.0

[bumpversion:file:vimack.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:ack_vack.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:convert_regexps.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

